<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Вы здесь:</li>
      <li class="breadcrumb-item"><a href="/">Главная</a></li>
      <li class="breadcrumb-item active"><a href="/">Cтраница</a></li>
    </ol>
</nav>