section#contact-form-section
    header
        h4 Задать вопрос
    <form method="POST" class="contact-form">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-8">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label>Имя</label>
                                <input type="text" class="form-control" name="name" id="name" required>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label>Компания</label>
                                <input type="text" class="form-control" name="company" id="company" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label>Телефон</label>
                                <input type="text" class="form-control" name="phone" id="phone" required>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label>E-mail</label>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <label>Задайте вопрос или кратко опишите ситуацию</label>
                            <textarea class="form-control" name="message" id="message" required></textarea>                     
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1">
                    <div class="form__description">Если остались вопросы, звоните по телефону
                        <br><a href="tel:#{phone}" class="contact-form__link"><strong style="white-space: nowrap;">#{phone}</strong></a>
                         <br> или пишите на <a href="mailto:#{email}" class="contact-form__link"><strong>#{email}</strong></a>
                    </div>
                    .contact-form__submit-section                
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck2" name="approve[]" value="approve" checked required>
                            <label style="font-size:0.8rem;margin-bottom:1em;"class="form-check-label" for="exampleCheck2">Нажимая на кнопку «Отправить», даю
                                <a class="contact-form__link" href="#"><span style="font-weight:bold;">согласие на обработку персональных данных</span></a>
                            </label>
                        </div>
                        <input type="text" name="nospam" value="" class="d-none" />
                            //- <input type="text" name="city" placeholder="Город*">
                        .text-center.text-sm-left
                            <input class="btn btn-outline-light contact-form__button" type="submit" value="Отправить">              
                </div>
            </div>
        </div>
    </form>