-const img='img/'
-const phone='(84635) 4-52-33'
-const email='alians_info@mail.ru'
.first-section
    .container
        .row
            .col-sm-4                
                a(href="#")
                    img.img-fluid.first-section__logo(src=img+"logo.svg", alt="AG")
            .d-none.d-sm-block.offset-sm-4.col-sm-4
                .first-section__contacts
                    a.contact(href='#')= phone
                    br
                    a.contact(href='#')= email