footer             
    //- <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A53017a4256d3d7057bb88b450f9fe1c6ef5adb4a5549a9863e2c2afccfb985a6&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    .footer
        .container
            .row
                .col-lg-3.footer__section
                        h3.footer__header
                            | Навигация
                        .footer__content
                            ul
                                -var menu = ['Главная', 'О компании', 'Документы', 'Референс-лист', 'Партнеры', 'Вакансии']
                                li.footer__nav-item
                                    a.footer__nav-link.active(href='#')= menu[0]
                                -for(var i= 1; i < menu.length; i++)
                                    li.footer__nav-item
                                        a.footer__nav-link(href='#')= menu[i]
                                       
                                    
                .col-lg-3.footer__section
                    h3.footer__header
                        | Услуги
                    .footer__content
                        ul
                            -var menu = ['системы бесперебойного питания', 'весовое оборудование', 'Система вентиляции', 'обслуживание газоанализаторов', 'динамические Тренажеры']
                            -for(var i= 0; i < menu.length; i++)
                                li.footer__nav-item
                                     a.footer__nav-link(href='#')= menu[i]
                .col-lg-3.footer__section
                    h3.footer__header
                        |О компании
                    .footer__content
                        |ООО&nbsp;«АльянсГрупп», 446213, Самарская область, г.&nbsp;Новокуйбышевск,
                        br
                        | ул.&nbsp;Молодежная, д.6, ком.91                           
                .col-lg-3.footer__section.footer__section_last
                    h3.footer__header
                      | Контакты
                    .footer__content
                     p 
                        |E-MAIL:
                        br
                        a.contact.footer__contact(href="mailto:"+email+"")
                            | #{email}
                        br   
                        |ТЕЛ./ФАКС:
                        br
                        a.contact.footer__contact(href="tel:"+phone+"")
                           | #{phone}                          
            .row
                .col-sm-6.text-center.text-sm-left
                    p ©2019 ООО «АльянсГрупп»
                .col-sm-6.text-center.text-sm-right.mb-3
                    a.footer__nav-link(style="text-transform:none;")(href="https://admix.pro") ADMiX Digital Agency

