nav.navbar.navbar-expand-md
    .container
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        .collapse.navbar-collapse#navbarText
            -var menu = ['Главная', 'О компании', 'Документы', 'Референс-лист', 'Партнеры', 'Вакансии']
                ul.navbar-nav.ml-auto
                    li.nav-item.navbar-nav__item
                        a.nav-link.navbar-nav__link.active(href='#') Главная                   
                    -for(var i= 1; i < menu.length; i++)
                        li.nav-item.navbar-nav__item
                            a.nav-link.navbar-nav__link.navbar-nav__link_animated-underline(href='#')= menu[i]
                    li.nav-item.navbar-nav__item
                        a.nav-link.navbar-nav__link.navbar-nav__link_animated-underline(href='#') Контакты
                    li.nav-item.navbar-nav__item.dropdown
                        a.nav-link.navbar-nav__link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                            | Услуги
                        .dropdown-menu(aria-labelledby="navbarDropdown")                    
                            a.dropdown-item.navbar-nav__link(href="#") ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ ГАЗОАНАЛИЗАТОРОВ
                            a.dropdown-item.navbar-nav__link(href="#") ДИНАМИЧЕСКИЕ МОДЕЛИ ТРЕНАЖЕРОВ АСУ ТП
                            a.dropdown-item.navbar-nav__link(href="#") СИСТЕМЫ УСОВЕРШЕНСТВОВАННОГО УПРАВЛЕНИЯ ТЕХНОЛОГИЧЕСКИМИ ПРОЦЕССАМИ (СУУТП)
                    

