doctype html
html(lang="ru")
  include includes/head
  body
    header.header.section
      include includes/first-section
      include includes/navbar
    main
      .container
        .row
          .col-12
            include includes/breadcrumbs
        .row
          .col-12
            article.section.inner-page
              header
                h2.inner-page__header Контакты
              section.inner-page__content
                p  ООО «АльянсГрупп», 446213, Самарская область, г. Новокуйбышевск,
                  br
                  |ул. Молодежная, д.6, ком.91
                p Телефон: 
                  a(href="tel:"+tel+"") (84635) 4-52-33
                  br
                  |E-mail: 
                  a(href="mailto:"+email+"")  #{email}
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae30d4d629358ebe207a113b958f072f60d841345db7483fb49419d2c2245c97c&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script> 
        .row
          .col
            .section
              |Задать вопрос
    include includes/footer
    include includes/bottom-scripts
