doctype html
html(lang="ru")
  include includes/head
  body
    header.header.section
      include includes/first-section
      include includes/navbar
      .header__picture.section
    main
      .services-wrapper
        .container
          .row
            -for(var i= 0; i < 5; i++)
              .col-md-5th
                a(href="#",title='Услуга '+i)              
                  .service-card
                    .service-card__thumbnail
                      img(src=img+"services/service.png", alt="")
                      .service-card__title-wrapper
                        | системы бесперебойного питания      
      .container
        .row
          .col-md-12.col-lg-6
            section.section.info-section.about-section
              .row
                .col-12
                 h1.section__header О компании
              .row
                .col-lg-8.order-last.order-lg-first
                  a.link-header(href='#') Augue lectus vitae euismod sagittis. Facilisi fames eget pulvinar gravida id consectetur. Sagittis, id diam dolor laoreet sociis curabitur habitant maecenas. Maecenas.
                  p Nibh sit quisque consequat ultrices quisque dictum tortor. Consectetur sed ullamcorper est feugiat. Magnis luctus augue facilisis feugiat id laoreet pretium arcu vulputate. Volutpat lacus, suspendisse tortor mi pellentesque eget.
                 
                .col-lg-4.order-first.order-lg-last.text-center.text-lg-right
                  img.img-fluid.mb-3(src=img+'man.png', alt='')
              .row
                .col-12.text-center.text-lg-left
                  a.btn(href='#') Узнать больше
          .col-md-12.col-lg-6
            section.section.info-section.partners-section
              .row
                .col-12                  
                    h1.section__header Наши партнеры
              .row
                -for(var i= 0; i < 3; i++)
                  .col-md-12.text-center.col-lg-2
                    img.img-fluid.partner__logo(src=img+'partners/partner.png', alt='partner.png')      
                  .col-md-12.col-lg-10
                    .partner__text
                      a.link-header(href='#')
                        |АО «Куйбышевский нефтеперерабатывающий завод»
                      p Amet feugiat donec sit egestas vitae feugiat adipiscing volutpat, volutpat. Lacinia augue pretium risus eget at imperdiet at quis
    include includes/footer
    include includes/bottom-scripts
