doctype html
html(lang="ru")
  include includes/head
  body
    header.header.section
      include includes/first-section
      include includes/navbar
    main
      .container
        .row
          .col-12
            include includes/breadcrumbs
        .row
          .col-12
            article.section.inner-page
              header
                h2.inner-page__header Заголовок страницы
              section.inner-page__content            
        .row
          .col
            .section
            include includes/contact-form-section
    include includes/footer
    include includes/bottom-scripts
