doctype html
html(lang="ru")
  include includes/head
  body
    header.header.section
      include includes/first-section
      include includes/navbar
    .container
      .row.section
        .col-sm-12.col-md-8.offset-md-2
          include includes/breadcrumbs
    main
      section.container.section
        .row.section
          .col-sm-12.col-md-8.offset-md-2
              h3.heading Заголовок страницы
        .row
          .col-12
            div(style="background-image:url(img/services/service-top-image.png)").service__picture
        .row.section
          .col-sm-12.col-md-8.offset-md-2
            h3.service__long-title Viverra massa urna libero nunc nisl. Feugiat.
        .row
          .col-sm-12.col-md-8.offset-md-2
            p.section
              |Non aliquet sed senectus gravida vivamus etiam. Nullam sit fames consectetur eget sit nunc fringilla nulla enim. Quisque odio feugiat in id praesent. Metus, ac eu, tincidunt tortor, diam ultricies lacinia aliquam. Eu pulvinar aliquam erat pellentesque amet, tortor nulla amet odio
            h3.heading.section Мы предлагаем:
        .row.justify-content-center.justify-content-center
          -for(var i= 0; i < 5; i++)
            .col-md-5th            
              .service-card.service-card__inner
                a(href="#" data-toggle="modal" data-target="#serviceModal-0") 
                  .service-card__thumbnail
                    img(src="/site-dist/img/services/rectangle-37.png", alt="")
                    .service-card__title-wrapper
                      | Обслуживание
                <div class="modal fade" id="serviceModal-#{i}" tabindex="-1" role="dialog" aria-labelledby="serviceModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content custom-modal">
                            <div class="modal-header">
                                <h5 class="modal-title" id="serviceModallLabel">Весы автомобильные</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                              p Весы автомобильные электронные подходят для взвешивания любых автомобилей, в том числе перевозящих жидкие и сыпучие грузы. Мы предлагаем автомобильные весы всех разновидностей: для взвешивания автомобиля с полным заездом на платформу (фундаментные, бесфундаментные и передвижные), весы для поосного взвешивания в движении, для поколесного, поосного и потележечного взвешивания в статике, электронные автомобильные подкладные (переносные) весы для мобильного взвешивания. Результаты взвешивания весового оборудования обрабатываются с помощью специализированного программного обеспечения с возможностью ведения баз данных, распечатки отчетов, передачи данных в АСУ и множеством других функции. Промышленные весы автомобильные могут быть изготовлены в цифровом исполнении.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>                

    include includes/footer
    include includes/bottom-scripts