//Colors
$accent-color: #DE302F;

$colors:(
    'bg_light':#ECECEC,
    'bg_dark':#373737,
    'text': #838383,
    'text_light':#fff,
    'btn_dark':#000,
    'btn_light': #FFE400,
    'link:':#000,
    'link_hover': blue,    
);


@function color($object){
    @return map-get($colors, $object);
}

//Media width Bootstrap
$media-xs:576px;
$media-sm:768px;
$media-md:992px;
$media-lg:1200px;

//Sizes
$margin-bottom-section:50px;
$margin-bottom-section__child:30px;



$section-padding: 40px;

$other-line-height:1.5;

$font-weight_accent:300;

$transition-time: 0.5s;
$transition-time_slow: 1s;

$padding-side:15px;