@import 'variables';
@import 'mixins';


.breadcrumb{
    background:#fff;
    font-size:0.9rem;
    padding: 1em;
    border-radius: 0;
}

.breadcrumb-item+.breadcrumb-item::before {
    padding-right: 1em;
    color:color(text);
    content: "/";
}

.breadcrumb-item+.breadcrumb-item {
    padding-left:1em;
}

.breadcrumb-item.active {    
    color: $accent-color;
}

.breadcrumb-item a {
    padding:1em 0;
    color: color(text);
    &:hover{
        color:$accent-color;
        transition: $transition-time color;
    }
}