.col-xs-5th,
.col-sm-5th,
.col-md-5th,
.col-lg-5th {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 20%;
    float: left;
}
.col-5-th {
   -webkit-box-flex: 0;
   -webkit-flex: 0 0 20%;
   -ms-flex: 0 0 20%;
   flex: 0 0 20%;
   max-width: 20%;
}
@media (min-width: 768px) {
    .col-sm-5th {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 20%;
          -ms-flex: 0 0 20%;
          flex: 0 0 20%;
          max-width: 20%;
    }
}
@media (min-width: 992px) {
    .col-md-5th {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 20%;
          -ms-flex: 0 0 20%;
          flex: 0 0 20%;
          max-width: 20%;
    }
}
@media (min-width: 1200px) {
    .col-lg-5th {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 20%;
          -ms-flex: 0 0 20%;
          flex: 0 0 20%;
          max-width: 20%;
    }
}

@media only screen and (max-width: 992px) {
     .col-md-5th {
          width:33%;
          float:none;
          display:block;

          -webkit-box-flex: 0;
          -webkit-flex: 0 0 33%;
          -ms-flex: 0 0 33%;
          flex: 0 0 33%;
          max-width: 33%;
     }
    .col-md-5th.col-sm-5th {
        width: 20%;
        float: left;

          -webkit-box-flex: 0;
          -webkit-flex: 0 0 20%;
          -ms-flex: 0 0 20%;
          flex: 0 0 20%;
          max-width: 20%;
    }
}

@media only screen and (max-width: 769px) {

     .col-md-5th {
          width:100%;
          float:none;
          display:block;

          -webkit-box-flex: 0;
          -webkit-flex: 0 0 50%;
          -ms-flex: 0 0 50%;
          flex: 0 0 50%;
          max-width: 50%;
     }

    .col-md-5th.col-sm-5th {
          width:50%;
          float:none;
          display:block;

          -webkit-box-flex: 0;
          -webkit-flex: 0 0 50%;
          -ms-flex: 0 0 50%;
          flex: 0 0 50%;
          max-width: 50%;
    }
}

@media only screen and (max-width: 767px) {

     .col-md-5th {
          width:100%;
          float:none;
          display:block;

          -webkit-box-flex: 0;
          -webkit-flex: 0 0 100%;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%;
     }

    .col-md-5th.col-sm-5th {
          width:100%;
          float:none;
          display:block;

          -webkit-box-flex: 0;
          -webkit-flex: 0 0 100%;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%;
    }
}