@import 'variables';
@import 'mixins';

// @media screen and (max-width:$media-sm){
//    
// }

.custom-modal{
    background: #373737;
    color:#dadada;
    .modal-header{
        border-bottom-color: #4c4c4c;
    }
    .modal-footer{
        border-top-color: #4c4c4c;
        justify-content: center;
    }
    
}