@import 'variables';
@import 'mixins';

$border-size: 0.625px;
$border-color:#565656;
$link-color:#878787;
.footer{    

    width:100%;
    background: #191919;
    &__section{
        color:color(text_light);
        padding-right:0;
        padding-left:0;        
        margin-bottom:15px;
        border-right:$border-size solid $border-color;
        &_last{
            border-right:none;
        }
        @media screen and (max-width:$media-md){
            border-right:none;
        }
    }

    &__header{
        font-size:1.5rem;
        background:#373737;
        border-bottom:$border-size solid $border-color;
        padding:10px 15px;
        margin:0;
    }
    &__content{
        padding:1em $padding-side;
        color:#878787;
    }
    
    ul{
        @include clear-list;
    }

    a{
         //color:$link-color;
    }
    &__nav-item{
        margin-bottom:0.5em;
        .active{
            color:$accent-color;
        }
    }
    &__nav-link{
        text-transform: uppercase;       
        color:$link-color;
        transition:.5s color;
        &:hover{
            text-decoration: none;
            color:#fff;           
        }
    }

    &__contact{
        color:$accent-color;
        &:hover{
            color:$accent-color;
        }
    }

  


}