@import 'variables';
@import 'mixins';

.header{
    &__picture{    
        background: url(../img/header-picture.png);
        background-size: cover;
        background-position: center center;
        height:429px;
    }
}