@import "_variables.scss";
@import "_mixins.scss";


$link-color:#fff;
$padding-tb-navlink:10px;
.navbar{
    background:color(bg_dark);
    padding:0;
    @media screen and (min-width:$media-sm) and (max-width:$media-md){
        font-size:0.75rem;
    }


}

.navbar-collapse{
    flex-grow:0;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-top:$padding-tb-navlink;
    padding-bottom:$padding-tb-navlink;
}


.navbar-nav{
    &__item{        
        border-right:1px solid #565656;        
        @media screen and (max-width:$media-sm){
          margin: 0 auto;
          border-right:none;
        }
        .active {
            background:#191919;
            @media screen and (max-width:$media-sm){
                background:none;
                &:before{
                    content: "– ";
                }
                &:after{
                    content: " –";
                }
            }
        }        
    }



    &__link{ 
        color:$link-color;
        text-transform: uppercase; 

        &:hover{
            color:$link-color;
        }
        &_animated-underline{
            &:after{
                background-color: $link-color;
                display: block;
                content: "";
                height: 1px;
                width: 0%;
                transition: width .3s ease-in-out;
                @media screen and (max-width:$media-sm){
                    display: none;
                }
            }            
            &:hover:after, &:focus:after{
                width:100%;
            }

           
        }
    }

    .dropdown-menu{
        background:color(bg_dark);
        border-radius: 0;
        color:$link-color;
        .dropdown-item{
            position:relative;
            left:0;  
            white-space: normal;
            transition: .3s left;
            &:hover{                
              background:none;            
              left: 5px;  
              border-left:2px solid $accent-color;
            }
            // @media screen and (max-width:$media-sm){
            //     margin: 0 auto;
            // }
        }
    }

    .dropdown{
        text-align: center;
    }


}
.navbar-toggler{
    margin: 0 auto;
}


.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}
