@import 'variables';
@import 'mixins';

.services-wrapper{
    margin-top:-176px;
}

.service-card{ 
    margin-bottom:30px;
    transition: 0.5s transform;
    &:hover{
        transform: scale(1.1,1.1);
      @media screen and (max-width:$media-sm){
        transform: none;
      }
    }
    &__inner{
        &:hover{
            transform:none;
        }
    }

    &__thumbnail{
        position: relative;
        img{
            width:100%;
        }
    }
    &__title-wrapper{
        position: absolute;
        bottom:0;
        left:0;
        height:72px;
        width:100%;
        background: rgba(222, 48, 47, 0.85);
        color:color(text_light);
        padding:0.7em $padding-side;
        text-transform: uppercase;
        line-height:17px;
    }

    @media screen and (max-width:$media-sm){
       // margin-right:0;
    }
}